<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="" method="post">
        {% csrf_token %}
        <input
          type="text"
          name="title"
          class="title"
          placeholder="다 울었니?"
        />
        <div>
          <input type="date" name="end_date" class="deadline" id="deadline" />
        </div>
        <textarea
          name="content"
          cols="30"
          rows="10"
          placeholder="그럼 할 일을 하자"
        ></textarea>
        <div>
          <button type="submit">넵.</button>
        </div>
      </form>
    </div>
  </body>
</html>
