<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    {% block css %} {% endblock css %}
    <title>Document</title>
  </head>
  <body>
    <div class="title">{% block title %} {% endblock title %}</div>
    <div class="container">{% block content %} {% endblock content %}</div>
    <div class="explain">
      mad 3학년의 블로그입니다<br />
      광고와 협찬 환영합니다
    </div>
  </body>
</html>
