<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>category list</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'categoryStyle.css'%}" />
  </head>
  <body>
    <h2>{{category_kind_templates}} category list</h2>

    <div class="content">
      <ul class="list">
        {%for article in categorized_articles%}
        <a class="toDetail" href="{%url 'detail' article.id%}"
          ><li>{{article.title}}</li></a
        >
        {%endfor%}
      </ul>
    </div>
  </body>
</html>
