<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documet</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'detailStyle.css'%}" />
  </head>
  <body>
    <h2>#{{article_detail.id}} {{article_detail.title}}</h2>
    <div class="content">{{article_detail.content}}</div>
    <div class="writtenDt">{{created_dt}}</div>
    <div class="returnList">
      <a href="{%url 'list'%}">GO TO LIST</a>
    </div>
  </body>
</html>
