<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'newStyle.css'%}" />
  </head>
  <body>
    <h2>라이팅 폐지</h2>
    <form action="/new" method="post">
      {% csrf_token %}
      <div class="inputContainer">
        <div class="inputTitle">칵퉤고리</div>
        <input class="smallBox" type="text" name="category" />
      </div>
      <div class="inputContainer">
        <div class="inputTitle">타이털</div>
        <input class="smallBox" type="text" name="title" />
      </div>
      <div class="inputContainer">
        <div class="inputTitle">코온-텐츠</div>
        <textarea
          class="smallBox"
          name="content"
          cols="50"
          rows="10"
        ></textarea>
      </div>
      <button id="submitBtn" type="submit">submit</button>
    </form>
  </body>
</html>
